body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(34, 34, 34);
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cont {
  min-width: 60rem;
  min-height: 40rem;
  background-color: green;
  padding: 1.2em;
  border-radius: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cont .qu button {
  background: rgb(226, 226, 226);
  margin: 1em 0 2em 0;
  padding: 1em 2em;
  font-size: 1rem;
  border-radius: 5px;

  text-align: center;
  border: none;
  cursor: pointer;
}
.cont .qu button:hover {
  background: rgb(242, 242, 242);
}
